### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
school_path = "Resources/schools_complete.csv"
student_path = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
schools_df = pd.read_csv(school_path)
students_df = pd.read_csv(student_path)

merge_df = pd.merge(schools_df,students_df , on="school_name")

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# total schools, students, and budget of district
Total_Schools =len(merge_df['school_name'].value_counts())
Total_Students=merge_df['student_name'].count()
Total_Budget=schools_df['budget'].sum()

In [3]:
# average math and reading scores
Average_Math =merge_df['math_score'].mean()
Average_Reader =merge_df['reading_score'].mean()

In [4]:
# percent passing rates
PassMath = merge_df [(merge_df["math_score"] >=70)]
PassRead = merge_df [(merge_df["reading_score"] >=70)]
PassBoth = merge_df [(merge_df["reading_score"] >=70) & (merge_df["math_score"] >=70)]
PassMath1=len(PassMath)
PassRead1=len(PassRead)
PassBoth1=len(PassBoth)
PassMathAve=(PassMath1)/(Total_Students)*100
PassReadAve=(PassRead1)/(Total_Students)*100
PassBothAve=(PassBoth1)/(Total_Students)*100

In [5]:
# dataframe for district summary
district_summary=[{"Total Schools":Total_Schools, "Total Students":Total_Students,
                   "Total Budget" :Total_Budget, "Average Math Score": Average_Math,\
                   "Average Reading Score":Average_Reader, "% Passing Math": PassMathAve, \
                   "% Passing Reading": PassReadAve, "% Overall Passing": PassBothAve}]
district_summary_df= pd.DataFrame(district_summary)
district_summary_df['Average Reading Score']=district_summary_df['Average Reading Score'].map("{:.2f}".format)
district_summary_df['Average Math Score']=district_summary_df['Average Math Score'].map("{:.2f}".format)
district_summary_df['% Passing Math']=district_summary_df['% Passing Math'].map("{:.2f}".format)
district_summary_df['% Passing Reading']=district_summary_df['% Passing Reading'].map("{:.2f}".format)
district_summary_df['% Overall Passing']=district_summary_df['% Overall Passing'].map("{:.2f}".format)
district_summary_df['Total Budget']=district_summary_df['Total Budget'].map("${:,.2f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [6]:
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [ ]:
schools_df.head
schoolsorted_df=schools_df.sort_values(by='school_name')

In [ ]:
# school location sype, budget, school budget
students_df
studentssorted_df=students_df.sort_values(by="school_name")
studentssorted_df
#print(studentsorted_df)
math_score=studentssorted_df["math_score"]
#print(math_score)
grade_df=studentssorted_df["grade"]

In [ ]:
# total school data 
schools_name=schoolsorted_df["school_name"]
#print(school_name)
schools_types=schoolsorted_df["type"]
#print(school_types)
total_students=schoolsorted_df["size"]
#print(total_students)
schools_budget=schoolsorted_df["budget"]
students_budget=(schools_budget)/(total_students)

In [ ]:
# Calculate average that passed reading and math
math_scoreave_df= studentssorted_df.groupby("school_name")
avemath=math_scoreave_df["math_score"].mean()
#print(math_score)
#print(avemath)
#print(len(avemath))
read_scoreave_df=studentssorted_df.groupby("school_name")
averead_df=read_scoreave_df["reading_score"].mean()

In [ ]:
# Calculate overall passing rate
PassMathAve=studentssorted_df[(studentssorted_df[math_score])] >=70

In [ ]:
PassMath = merge_df [(merge_df["math_score"] >=70)]
PassMathAve=PassMath.groupby(["school_name"]).count()["student_name"]
totalMath=merge_df [(merge_df["math_score"] > 0)]
totalMathCount=totalMath.groupby(["school_name"]).count()["student_name"]

PassMassAvePerc=(PassMathAve/totalMathCount)*100


PassRead = merge_df [(merge_df["reading_score"] >=70)]
PassReadAve=PassRead.groupby(["school_name"]).count()["student_name"]
PassReadAvePerc=(PassReadAve/totalMathCount)*100

PassBoth = merge_df[(merge_df["reading_score"] >=70) & (merge_df["math_score"] >=70)]
PassBothAve=PassBoth.groupby(["school_name"]).count()["student_name"]
PassBothAvePerc=(PassBothAve/totalMathCount)*100

In [ ]:
# Reorganize school summary columns 
school_summary_df= pd.DataFrame({
         "school_name": schools_name,
        "School Types":schools_types,
   "Total Students":total_students,
    "Total School Budget":schools_budget, 
    "Per Student Budget":students_budget, })

In [ ]:
Math_df = pd.DataFrame({ "Average Math Score": avemath,"Average Reading Score":averead_df,"% Passing Math":PassMassAvePerc,"% Passing Reading": PassReadAvePerc,
"% Overall Passing": PassBothAvePerc, })

In [ ]:
mergeschooldistrict_df = pd.merge(school_summary_df, Math_df, on='school_name', how='left') 
mergeschooldistrict_df

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
# top performing schools summary by passing rate
top_schools = mergeschooldistrict_df.sort_values(['% Overall Passing'],ascending=False)
top_schools.head(10)

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
bottom_schools = mergeschooldistrict_df.sort_values(['% Overall Passing'],ascending=True)
bottom_schools.head(10)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
nine_math=students_df.loc[students_df['grade']=="9th"].groupby('school_name')["math_score"].mean()
ten_math=students_df.loc[students_df['grade']=="10th"].groupby('school_name')["math_score"].mean()
eleven_math=students_df.loc[students_df['grade']=="11th"].groupby('school_name')["math_score"].mean()
twelve_math=students_df.loc[students_df['grade']=="12th"].groupby('school_name')["math_score"].mean()

math_score_df=pd.DataFrame({ "9th":nine_math,"10th":ten_math,"11th":eleven_math,"12th":twelve_math})
math_score=math_score[["9th","10th","11th","12th"]]
math_score.index.name="school_name"
math_score_df

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# Readinine_read=student_df.loc[student_df['grade']=="9th"].groupby('school_name')["reading_score"].mean()
ten_read=students_df.loc[students_df['grade']=="10th"].groupby('school_name')["reading_score"].mean()
eleven_read=students_df.loc[students_df['grade']=="11th"].groupby('school_name')["reading_score"].mean()
twelve_read=students_df.loc[students_df['grade']=="12th"].groupby('school_name')["reading_score"].mean()

reading_score_df=pd.DataFrame({"9th":nine_read.map("{:,.2f}".format),"10th":ten_read.map("{:,.2f}".format),"11th":eleven_read.map("{:,.2f}".format),
    "12th":twelve_read.map("{:,.2f}".format)})

reading_score=reading_score[["9th","10th","11th","12th"]]
reading_score.index.name="school_name"
reading_score_dfng scores by grade
r_ninth = students.loc[students['grade'] == '9th'].groupby("school")
ninth_read = r_ninth['reading_score'].mean()
r_tenth = students.loc[students['grade'] == '10th'].groupby("school")
tenth_read = r_tenth['reading_score'].mean()
r_eleventh = students.loc[students['grade'] == '11th'].groupby("school")
eleventh_read = r_eleventh['reading_score'].mean()
r_twelfth = students.loc[students['grade'] == '12th'].groupby("school")
twelfth_read = r_twelfth['reading_score'].mean()

# Create dataframe for reading scores summary
read_summary = pd.DataFrame({"9th": ninth_read,
                            "10th": tenth_read,
                            "11th": eleventh_read,
                            "12th": twelfth_read})
read_summary = read_summary[["9th","10th","11th","12th"]]
del read_summary.index.name

read_summary.head()

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Create bins
bins = [0,584.99,630.99,650.99,800]
spending_ranges = ["Less than $585","$585-$630","$630-$650","Over $650"]

mergeschooldistrict_df['Spending Group'] = pd.cut(school_summary_df['Per Student Budget'], bins, labels=spending_ranges)
scores_by_school_spending = mergeschooldistrict_df.groupby(['Spending Group']).mean()
scores_by_school_spending=scores_by_school_spending[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]
scores_by_school_spending

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Create bins
bins2 = [0, 1000, 2000, 5000]

# Create names for bins
size_range = ['Small', 'Medium', 'Large']

school_summary["School Size"] = pd.cut(school_summary["Total Students"], 
                                                         bins2, labels=size_range)
size_summary = school_summary.groupby("School Size")
size_summary = size_summary[["Average Math Score", "Average Reading Score", "% Passing Math", 
                             "% Passing Reading", "Overall Passing Rate"]]
size_summary.mean()

In [ ]:
#bins
bins = [0, 1000, 2000, 5000]
group_names = ["Small (Less Than 1000)", "Medium (1000-2000)", "Large (2000-5000)"]


mergeschooldistrict_df['School Size'] = pd.cut(school_summary_df["Total Students"], bins, labels=group_names)
scores_by_school_spending = mergeschooldistrict_df.groupby(['School Size'], sort=True).mean()
scores_by_school_spending = scores_by_school_spending[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]
scores_by_school_spending

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
score_type_df=mergeschooldistrict_df.set_index(['School Types'])
types=score_type_df.groupby(['School Types'], sort=True).mean()
types=types[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]
types